// footer

.footer {
  grid-area: footer;
  background-color: #000;

  .footer .footer1 {
    display: flex;
    justify-content: space-evenly;
  }
  // iconos de redes sociales
  .footer .iconos {
    display: flex;
    justify-content: flex-end;
  }
  .footer.redsocial {
    display: inline-flex;
    justify-content: end;
    gap: 1.875rem;
  }
}
