// main

.main1 {
  grid-area: main;
  margin-top: 0.3125rem;
  // dando estilo al carrusel
}
.main1 .containercarru {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  width: 100%;
  height: 28.125rem;
}

// estilo de titulos de las tarjetas
.main1 .subtarjetas {
  margin-top: 3.125rem;
}

.main1 .sub1 {
  display: flex;
  justify-content: center;
}

.main1 .subtarjetas {
  margin-top: 3.125rem;
}

// estilo de las tarjetas
.main1 .tarjetas {
  display: flex;
  justify-content: center;
  margin-top: 5.625rem;
  gap: 3.125rem;
  // object-fit: cover;
}

.main1 .tarj1 {
  border-radius: 0.625rem;
  width: 25px;
  height: 25px;
  transition: all 2s;
}
.main1 .tarj1:hover {
  height: 28.125rem;
  width: 28.125rem;
}

// main 2 pagina disney

.main2 {
  grid-area: main;
  margin-top: 0.3125rem;

  .main2 .marvel {
    display: flex;
    justify-content: center;
  }
  .main2 .titulomarvel {
    font-size: 1.875rem;
    color: red;
  }

  .main2 .submarvel {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0.9375rem;
    margin-left: 30%;
  }

  .main2 .contenedorimag {
    display: inline-flex;
    margin-top: 5%;
  }
  .main2 .parrafomarvel {
    display: flex;
    justify-content: center;
    text-align: right;
  }
}
