// main

.main1 {
  background-color: #eee;
  grid-area: main;
  margin-top: 0.3125rem;
}
// dando estilo al carrusel
.titulo-carrusel {
  display: flex;
  justify-content: center;
}
.main1 .containercarru {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.carousel {
  width: 85.25rem;
}

.carousel-item img {
  width: 100%;
  height: 28.125rem;
  border-radius: 0.625rem;
}
// estrenos
.estrenos {
  margin-top: 2.25rem;
}

.card-body {
  background-color: rgba(132, 135, 132, 0.659);
  border-radius: 0.1875rem;
}

// estilo de titulos de las tarjetas
.main1 .subtarjetas {
  margin-top: 3.125rem;
}

.main1 .sub1 {
  display: flex;
  justify-content: center;
}

.main1 .subtarjetas {
  margin-top: 3.125rem;
}

// estilo de las tarjetas
.main1 .tarjetas {
  display: flex;
  justify-content: center;
  margin-top: 5.625rem;
  margin-bottom: 1.25rem;
  gap: 3.125rem;
  // object-fit: cover;
}

.main1 .tarj1 {
  border-radius: 0.625rem;
  width: 18.5rem;
  height: 13.5rem;
  transition: 0.9s ease all;
}
.main1 .tarj1:hover {
  transform: scale(1.2);
}

// main 2 pagina disney

.main2 {
  grid-area: main;
  margin-top: 0.3125rem;
}
.disney {
  height: 70.25rem;
  background-color: #051b4a;
  // margin-bottom: 3.125rem;
}
.logodisney {
  display: flex;
  justify-content: center;
  margin-bottom: 1.875rem;
}

.swiper {
  width: 100%;
  height: 40rem;
  padding-top: 1.25rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #051b4a;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide .swiper-disney {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
// seccion marvel
// titulo logo marvel
.titulomarvel {
  display: flex;
  justify-content: center;
}
// estilo de la seccion
.marvel {
  height: 140.25rem;
  background-color: #ec1d24;
}
// div imagen linea de tiempo
.lineadetiempo {
  display: flex;
  justify-content: center;
  padding-top: 2.625rem;
}
// estilo al subtutilo de la imagen
.subtitulomarvel {
  display: flex;
  justify-content: center;
  padding-top: 0.9375rem;
}
// estilo a la imagen
.lineadetiempo img {
  width: 90%;
  height: 36.25rem;
  border-radius: 0.9375rem;
}
// espacio de los personajes
.heroes h2 {
  display: flex;
  justify-content: center;
}
// acomodando las tarjetas de iamgen
.imgpersonajes {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-left: 20rem;
  gap: 3rem;
}
// estilo a las imagenes
.personajes {
  width: 20rem;
  height: 28rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
