@import "./mixins";
@import "./globales";
@import "productos";
@import "contacto";
@import "header";
@import "main";
@import "footer";

// grid
.container1 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header "
    "main"
    "footer ";
}
// estilo del body
.body {
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (max-width: 360px) {
  * {
    font-size: 8px;
    overflow: hidden;
  }
  .container1 {
    background-color: rgb(195, 0, 255);
    width: 100vw;
  }
  .tarj1 {
    width: 5.5rem;
    height: 3.5rem;
    border: solid gold;
  }
}
