{
  margin: 0;
  padding: 0;
}
/* index - pagina principal */

.imagenlogo {
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  transition: all 2s;
}

.imagenlogo:hover{
  transform: scale(0.5);
  
}
/* primera seccion */

header {
  background-color: rgba(192, 161, 59, 0.774);
  
  
  
}

h1 {
  color: rgba(109, 7, 7, 0.774);
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  transition: 3s;
  
}
h1:hover{
  transform: skewY(20deg);

}

label {
  color: rgb(0, 0, 0);
}

div {
  margin-left: 1600px;
}

nav {
  height: 80px;
  line-height: 30px;
  
  display: grid;
  grid-template-rows: 2px;
  

}

header nav ul li {
  display: inline;
  margin-left: 250px;
  padding-top: 40px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.sublista {
  list-style: none;
  font-size: 0;
}

.sublista li {
  color: black;
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px;
  margin-left: 42px;
}

ul .sublista {
  position: absolute;
  display: none;
}
ul .sublista li {
  display: block;
}
ul li:hover .sublista {
  display: block;
  background-color: cornsilk;
  margin-left: 180px;
}
.li1 {
  margin-right: 65px;
}
/* segunda seccion */
section img {
  margin-left: 450px;
  border-radius: 15px;
  transition: all 2s;

}

section img:hover{
  transform: scale(1.5);

}

section .subtitulo1 {
  color: rgba(109, 7, 7, 0.774);
  text-align: center;
  font-size: 40px;
}

body {
  background-color: rgba(217, 255, 0, 0.315);
}

.subtitulo2{
  color:  rgba(109, 7, 7, 0.774);
  text-align: left;
  font-size: 40px;


}

.texto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse
  
  

}

 .texto .p1 {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 25px;
  text-decoration: cornflowerblue;
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  height: 100px;
  padding: 20px;

}

.p2{ 
   margin-left: 10px;
  margin-top: 15px;
  height: 100px;
  padding: 20px;
}

.p3{
  margin-left: 10px;
  margin-top: 15px;
  height: 100px;
  padding: 20px;

}

.p4{
  margin-left: 10px;
  margin-top: 15px;
  height: 100px;
  padding: 20px;
}

a {
  color: rgba(95, 24, 24, 0.774);
  transition: all 2s;
  text-decoration: none;

}

a:hover{
  color: black;
  font-size: 19px;
}

footer {
  
  color: rgba(109, 7, 7, 0.774);
  background-image: linear-gradient(to right, black,grey);
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  
}
/* pagina de productos*/

.aside1 {
  background-color:  rgba(255, 196, 0, 0.774);
  color: rgba(109, 7, 7, 0.774);;
  margin-right: 1750px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  rgba(255, 196, 0, 0.774);
  /*display:flex;
  flex-direction: column-reverse;*/
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 300px 500px;
  justify-content: flex-start;

  
  
}
.aside1 ul li {
  list-style-type:circle;
  list-style-position:inherit;
  line-height: 35px;
  display: flex;
  align-content: space-around;
  



}


/*¨pagina de registro*/

.nombre{
  width: 250px;
  height: 20px;
  transition: 2s;
}

.nombre:focus{
width: 300px;
height: 25px;
font-size: 20px;

}
.apellido{
  width: 250px;
  height: 20px;
  transition: 2s;
}

.apellido:focus{
width: 300px;
height: 25px;
font-size: 20px;

}
.mail{
  width: 250px;
  height: 20px;
  transition: 2s;
}

.mail:focus{
width: 300px;
height: 25px;
font-size: 20px;

}
.sexo{
  width: 250px;
  height: 20px;
  transition: 2s;
  cursor: pointer;
}

.sexo:focus{
  width: 300px;
  height: 25px;
  font-size: 20px;

}

.enviar{
  cursor: pointer;
  transition: 1s;

}

.enviar:hover{
  background-color: blue;
}

.tilde{
  cursor: pointer;
}

.restablecer{
  cursor: pointer;
  transition: 1s;
}

.restablecer:hover{
  background-color: blue;
}